<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Gráfico</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header id="main">
        <h1>Gerar Gráfico</h1>
    </header>
    
    <div class="graph-container">
        <button id="btn-gerar-grafico-notas">Gerar Gráfico de Notas</button>
        <div id="grafico-container-notas" class="graph">
            <img id="grafico-notas" src="" alt="Gráfico de Notas"/>
        </div>
    </div>

    <div class="graph-container">
        <button id="btn-gerar-grafico-satisfacao">Gerar Gráfico de Satisfação</button>
        <div id="grafico-container-satisfacao" class="graph">
            <img id="grafico-satisfacao" src="" alt="Gráfico de Satisfação"/>
        </div>
    </div>


    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>