<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Gráfico</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/jpeg" href="favicon.jpeg">
</head>
<body>
    <header id="main">
        <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight: 300;
        letter-spacing: 1px;">Geração de gráfico do banco de dados da ITALO</h1>
    </header>
    <div id="loading-screen"><!-- div para a animação do símbolo de carregamento do loading-->
        <div class="loader"></div>
    </div>
    <div id="info-panel"> <!--Painel do banco de dados/servidor-->
        <h2>Informações do Servidor</h2>
        <p><strong>Host:</strong> italo.mysql.uhserver.com</p>
        <p><strong>Database:</strong> italo</p>
        <p><strong>Status do Banco de Dados:</strong> <span id="status-banco-dados">Verificando...</span></p>
        <p><strong>Tabelas consultadas:</strong> psq e retorno</p>
        <!-- Adicione mais informações conforme necessário -->
    </div>

    <div class="graph-container"><!-- div exibição do gráfico de notas-->
        <button id="btn-gerar-grafico-notas">Gerar Gráfico de Notas</button>
        <div id="grafico-container-notas" class="graph1">
            <img class="bc" id="grafico-notas" src="" alt="Gráfico de Notas"/>
        </div>
    </div>

    <div class="graph-container"><!-- div exibição do gráfico de barras-->
        <button id="btn-gerar-grafico-satisfacao">Gerar Gráfico de Satisfação</button>
        <div id="grafico-container-satisfacao" class="graph2">
            <img class="bc" id="grafico-satisfacao" src="" alt="Gráfico de Satisfação"/>
        </div>
        
        
    </div>

    <div id="popup"><!--div exibição da janela popup-->
            <img>
        </img>
        <p style="font-size: 18px; font-weight: bold; text-align: center;">Deu certo! Bom trabalho!</p>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <!--Script para tentar por esse projeto online no firebase-->
    <script type="module"> 
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyDiRcYmpOEtxO_tFGgYSv-1RvO2ptJFJpM",
          authDomain: "dashboardflask.firebaseapp.com",
          projectId: "dashboardflask",
          storageBucket: "dashboardflask.appspot.com",
          messagingSenderId: "845785022796",
          appId: "1:845785022796:web:eb22b0cea207028c5fcfe9"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
      </script>
</body>
</html>