<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:/Users/ADMIN/.virtualenvs/GitHub-aZtVJPtj/Scripts/python.exe^C:\Users\ADMIN\.virtualenvs\GitHub-aZtVJPtj\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="app.py" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
